*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}


.contain{
    display: flex;
    flex-direction: row;
    background-color:grey;
    height: 660px;
    width: 100%;
  }

  .first{
     margin-top: 200px;
     margin-left: 80px;
      font-size: 25px;
      justify-content: center;
      color:lightgoldenrodyellow;
  }

  .head:hover{
      color: aquamarine;
  }
  .second{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-top: 180px;
      margin-left: 150px;
  }

  .inputt{
      height: 40px;
      width: 300px;
      border-radius: 10px;
      border: solid 1px lightgreen;
  }

  button{
      cursor: pointer;
  }

  button:hover{
      background-color:lightseagreen;
  }

  .small{
      height: 34px;
      width: 80px;
      color:purple;
      font-weight: bold;
      border-radius: 5px;
  }

  a:hover{
      color: darkblue;
     
  }

  .large{
      height:34px;
      width: 180px;
      border-radius: 5px;
    
  }
  .large:hover{
      background-color: aquamarine;
  }

  .showdata{
      margin-top:  150px
    
    }

    i{
        text-decoration: underline;
        color: brown;
        margin: 5px;
    }